<!doctype html>
<html ng-app="myApp">

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="public/stylesheets/clean-blog.min.css" rel="stylesheet">
</head>

<body>
    <div class="infoBackground">
        <div class="centerEverything">
            <div ng-controller="myController">
                <h2 id="welcomeText">Welcome. You are Logged In as
                    <%= username %>
                </h2>
                <a id="logoutLink" href="/logout">logout</a>
                <a id="editLink" href="/user">Edit User</a>
                <p>See what people thought of CS 260 during the Fall 2018 semester!</p>
            </div>
            <hr>
            <div id="posts" ng-repeat="review in reviews"></div> {{User.username}}: {{User.comment}}

            <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
            <script src="/javascripts/my_app.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        </div>
    </div>
</body>

</html>
