<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Home Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="public/stylesheets/clean-blog.min.css" rel="stylesheet">
</head>

<body>
    <div class="infoBackground">
        <div class="centerEverything">
            <div ng-controller="myController">
                <h2 id="welcomeText">Welcome to Experion.<br/> You are Logged In as
                    <%= username %> <br/>Don't worry, your info is safe with us! :)
                </h2>
                <!--<a id="homeLink" href="/comment">CS260 Reviews</a>-->
                <a align="right" id="logoutLink" href="/logout">Logout</a>
                <a align="right" id="editLink" href="/user">Edit Account</a>
            </div>
            <hr>

            <span><b>Your info: </b></span><br/>
            <span id="momMaidenText">Your moms Maiden name: 
            <%= momMaiden %>
            </span><br>
            <span id="firstPetText">Your first pet: <%= firstPet %>
             </span><br>
            <span id="SSText">Your Social security number: <%= SS %>
             </span><br>
            <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
            <script src="/javascripts/my_app.js"></script>
        </div>
    </div>
</body>

</html>
